* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.logo-principal {
    width: 50px;
    height: 50px;
}
/*HEADER Y NAV-BAR*/
header{
    position: fixed;
    width: 100vw;
}
header, figure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #1d1d1d;
    color: white;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fondo {
    background: url(nuevo/Formula\ 1\ F1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo h2 {
    font-size: 50px;
    color: white;
}
.banner {
    background-color: #2229;
    width: 100vw;
    height: 100vh;
    position: static;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
/*SECCION DE NOTICIAS*/
.noticias-principales {
    padding: 50px 0;
    width: 100%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 500px 500px 350px;
    grid-template-areas:
    "noticia-1 noticia-2 noticia-complemento"
    "noticia-3 noticia-4 noticia-complemento"
    "noticia-5 noticia-6 noticia-complemento";
    justify-content: center;
}
.noticia-1 {grid-area: noticia-1;}
.noticia-2 {grid-area: noticia-2;}
.noticia-complemento {grid-area: noticia-complemento;}
.noticia-3 {grid-area: noticia-3;}
.noticia-4 {grid-area: noticia-4;}
.noticia-complemento {grid-area: noticia-complemento;}
.noticia-5 {grid-area: noticia-5;}
.noticia-6 {grid-area: noticia-6;}
.noticia-complemento {grid-area: noticia-complemento;}

.noticia {
    margin: 10px 15px;
    padding: 2px;
    border-radius: 9px;
    border: #aaaf 2px solid;
    text-align: center;
}
.noticia-img {
    width: 100%;
    height: 80%;
    border-radius: 7px;
}
